@model IQueryable<KEKChat.Models.TransactionModel>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section CustomCss{
    <link href="~/Content/Dashboard.css" rel="stylesheet" type="text/css" />
}

@section PartialScript
{
    @Html.Partial("_Scripts")
    <script>
        function loadInventory() {
            $.ajax(
                {
                    url: "@Url.Action("GetInventory", "Home", new { view = "Dashboard" })",
                    type: 'GET',
                    dataType: 'html'
                }
            ).always(function (result) {
                        $(".memes").html(result);
            });
        }

        function CustomButtonClick(s, e, url) {
            var userID = s.GetRowKey(e.visibleIndex);
            if (e.buttonID === "Edit") {
                window.location.href = url + "?" + "UserID=" + userID;
            }
        }
    </script>
}

<div class="main-view">
    @Html.Action("AdminPanelPartial")

    @Html.Action("GridViewPartial", "Administration")
</div>


