@model IQueryable<KEKChat.Models.TransactionModel>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section CustomCss{
    <link href="~/Content/Chat.css" rel="stylesheet" type="text/css" />
}

@section PartialScript
{
    <script>
        var polling = false;

        $(document).ready(function () {
            var activeTab = $(".side-tab-left");
            var otherTab = $(".side-tab-right");

            activeTab.css("border-bottom", "0");
            otherTab.css("border-bottom", "2px solid");

            var activeContent = $(".people");
            var otherContent = $(".memes");

            activeContent.css("display", "block");
            otherContent.css("display", "none");

            activeTab.css("border-bottom", "none");
            console.log("ready");

            $(".side-tab").click(function (event) {
                if (this === otherTab.get(0)) {
                    activeContent.css("display", "none");
                    otherContent.css("display", "block");

                    var temp = activeTab;
                    activeTab = otherTab;
                    otherTab = temp;

                    activeTab.css({ "border-bottom": "0", "background-color": "#FFFD83" });
                    otherTab.css({ "border-bottom": "2px solid", "background-color": "#EFED73" });

                    var tempC = activeContent;
                    activeContent = otherContent;
                    otherContent = tempC;
                }
            }
            );

            loadInventory();
            loadPeople();
            loadPartialView();

            window.setInterval(loadPartialView, 200);
            window.setInterval(loadPeople, 5000);
        });

        function loadInventory() {
            $.ajax(
                {
                    url: "@Url.Action("GetInventory", "Home", new { view = "Dashboard" })",
                    type: 'GET',
                    dataType: 'html'
                }
            ).always(function (result) {
                        $(".memes").html(result);
            });
        }

        function loadPeople() {
            $.ajax(
                {
                    url: "@Url.Action("GetPeople", "Home")",
                    type: 'GET',
                    dataType: 'html'
                }
            ).always(function (result) {
                        $(".people").html(result);
            });
        }
    </script>
}

@section SideBar
{
    <div class="row tab-row m-0">
        <div class="col-6 p-0 m-0 text-center side-tab side-tab-left nav-link text-oceanblue" id="peopleList">
            People
        </div>
        <div class="col-6 p-0 m-0 text-center side-tab side-tab-right nav-link text-oceanblue">
            Memes
        </div>
    </div>
    <div class="row content-row m-0">
        <div class="people h-100">
        </div>
        <div class="memes h-100">
        </div>
    </div>
}


<div class="mx-auto mw-100" style="width: max-content; width: -moz-max-content">

    @Html.Action("AdminPanelPartial")

</div>

<div class="mx-auto mw-100" style="width: max-content; width: -moz-max-content">
    @Html.Action("GridViewPartial", "Statistics")
</div>


