<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	@Styles.Render("~/Content/DevExtremeBundle")
	@Scripts.Render("~/Scripts/DevExtremeBundle")
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
