<!DOCTYPE html>

@{ 
    bool PrintInfo()
    {
        Write("Lmao nibba");
        //Html.Action("Login", "Account");
        return true;
    }
}

<html>
<head>
    <title>KEKChat Login</title>
    <meta charset="UTF-8">
    <meta name="description" content="Login Form for KEKChat.">
    <meta name="keywords" content="memes,meme,chat,social,economy,fun,login">
    <meta name="authors" content="Angel Neev, Simeon Laplev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/LoginForm.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="form-parent-div">
        <h3 class="login-title">Login</h3>
        <div style="margin: auto; width: 25%; border-width: 2px; border-color: gray; border-radius: 5px; border-style: solid; background-color: #7FFFD4; padding: 10px">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <br>
                <p style="text-align: center"><b>Username:</b></p>
                <input type="text" id="user" style="margin-left: 15%; width: 70%"><br><br>
                <p style="text-align: center"><b>Password:</b></p>
                <input type="password" id="pass" style="margin-left: 15%; margin-bottom: 10%; width: 70%">
                <button type="submit" runat="server" onclick="@PrintInfo()" style="display: block; margin: auto; width: auto; text-align: center; margin-bottom: 7%">Login</button>
                <p style="padding-left: 5%"><b>Not registered?</b> @Html.ActionLink("Register.", "Register")</p>
            }
        </div>
    </div>

    @{ RenderBody(); }
</body>
</html>
