<!DOCTYPE html>

@{ 
    bool PrintInfo()
    {
        Write("Lmao nibba");
        //Html.Action("Login", "Account");
        return true;
    }
}

<html>
<head>
    <title>KEKChat Login</title>
    <meta charset="UTF-8">
    <meta name="description" content="Login Form for KEKChat.">
    <meta name="keywords" content="memes,meme,chat,social,economy,fun,login">
    <meta name="authors" content="Angel Neev, Simeon Laplev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/LoginForm.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="form-parent-div">
        <h3 class="login-title">Login</h3>
        <div class="login-div">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                <br>
                <p class="center-text"><b>Username:</b></p>
                <input type="text" id="user" class="login-input"><br><br>
                <p class="center-text"><b>Password:</b></p>
                <input type="password" id="pass" class="login-input">
                <button type="submit" runat="server" onclick="@PrintInfo()" class="login-button">Login</button>
                <p class="center-text"><b>Not registered?</b> @Html.ActionLink("Register.", "Register")</p>
            }
        </div>
    </div>

    @{ RenderBody(); }
</body>
</html>
