<!DOCTYPE html>

<script runat="server">
    void sub_b_Click


</script>

<html>
<head>
    <title>KEKChat Registration</title>
    <meta charset="UTF-8">
    <meta name="description" content="Registration Form for KEKChat.">
    <meta name="keywords" content="memes,meme,chat,social,economy,fun,login,register">
    <meta name="authors" content="Angel Neev, Simeon Laplev">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/LoginForm.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="form-parent-div">
        <h3 class="login-title">Register</h3>
        <div class="login-div">
            @using (Html.BeginForm("Register", "Accounts", FormMethod.Post))
            {
                <br>
                <p class="center-text"><b>Username:</b></p>
                <input type="text" id="user" class="login-input"><br><br>
                <p class="center-text"><b>Password:</b></p>
                <input type="password" id="pass" class="login-input"><br><br>
                <p class="center-text"><b>Repeat Password:</b></p>
                <input type="password" id="passRepeat" class="login-input">
                <button type="button" id="sub_b" class="login-button">Register</button>
            }
        </div>
    </div>

    @{ RenderBody(); }
</body>
</html>
