@model KEKChat.Models.MessageTextModel

@{
    foreach (KEKChat.Models.MessageModel message in Model.MessageCollection)
    {
        <div class="message-header text-amazonite">
            <b>@Html.Raw(message.Username + " " + (message.Date.DayOfYear == DateTime.Now.Date.DayOfYear ? message.Date.ToString("HH:mm") : message.Date.ToString("dd/MM/yyyy HH:mm")))</b>
        </div>

        if (message.ImageSource != null && message.ImageSource != "")
        {
            <div>
                <img src="~/@message.ImageSource.Replace('\\', '/')" class="meme"/>
            </div>
            <br>
        }
        else
        {
            string[] messageBlock = message.Text.Split(new char[] { '\n' });

            foreach (string line in messageBlock)
            {
                <div class="message text-oceanblue">
                    @Html.Raw(line)
                </div>
                }
            }
            <br>
        }
    }
