@model KEKChat.Models.PeopleListModel

@{
    int index = 0;

    foreach (KEKChat.Models.User user in Model.UsersCollection)
    {
        string dotState = Model.UsersOnlineStatus[index++] ? "text-success" : "text-danger";
        <div class="person-name m-2">
            <b>@Html.Raw(user.Username)</b> <b class="@dotState h2">&#9679;</b>
        </div>
    }

}
