@model KEKChat.Models.PeopleListModel

@{
    foreach (KEKChat.Models.User user in Model.usersCollection)
    {
        string dotState = user.IsOnline ? "text-success" : "text-danger"; 
        <div class="person-name m-2">
            <b>@Html.Raw(user.Username)</b> <b class="@dotState h4">&#9679;</b>
        </div>
    }

}
