@model KEKChat.Models.MessageText
@{
    ViewBag.Title = "KEKChat";
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}

@section ChatSection{
<div class="chat">
    @{
        foreach (KEKChat.Models.Message message in Model.MessageCollection)
        {
            <div class='message'>
                @Html.Raw(message.Username + " " + message.Date + ": " + message.Text)
            </div>
        }
    }
</div>
    <div class="chatbox">
        @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post, new { @style = "height:100%;" }))
        {
            @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "chat-input" } })
            <button type="submit" runat="server" class="message-button">Send</button>
        }
    </div>
}