@model KEKChat.Models.MessageTextModel
@{
    ViewBag.Title = "KEKChat";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section CustomCss{
    <link href="~/Content/Chat.css" rel="stylesheet" type="text/css" />
}

<div class="chat" id="chatView">
    
</div>

<div class="chatbox" id="chatBox">
    <form style="height:100%;" id="MainForm">
        <textarea class ="chat-input" autofocus="" id="textArea"></textarea>
        <button type="submit" runat="server" class="message-button" id="sendButton">Send</button>
    </form>
</div>

<script>
    var messageCount = 0;

    function loadPartialView() {
        $.ajax(
        {
            url: "@Url.Action("GetMessages", "Home")",
            type: 'GET',
            dataType: 'html',
            success: function (result)
                     {
                        $('#chatView').html(result);

                        if (document.getElementById("chatView").childElementCount > messageCount) {
                            var element = document.getElementById("chatView");
                            element.scrollTop = element.scrollHeight;
                        }

                        messageCount = document.getElementById("chatView").childElementCount;
            }
        }
        );
    }

    $(function() {
       loadPartialView();

       window.setInterval("loadPartialView()", 200);
    });

    document.getElementById('textArea').addEventListener('keydown', function (event) {
        if (event.which === 13 && event.shiftKey) {
            return false;
        }
        else if (event.which === 13) {
            event.preventDefault();
            //document.getElementById('sendButton').click();

            $.ajax(
            {
                url: "@Url.Action("SendMessage", "Home")",
                data: { 'msg' : $('#textArea').val() },
                type: 'POST',
                dataType: 'html',
                success: function (result)
                         {
                            $('#chatView').html(result);
                            $('#textArea').val("");

                            if (document.getElementById("chatView").childElementCount > messageCount) {
                                var element = document.getElementById("chatView");
                                element.scrollTop = element.scrollHeight;
                            }

                            messageCount = document.getElementById("chatView").childElementCount;
                }
            }
            );

            return true;
        }
    });

    $("#sendButton").click(function (event) {
        event.preventDefault();
            $.ajax(
            {
                url: "@Url.Action("SendMessage", "Home")",
                data: { 'msg' : $('#textArea').val() },
                type: 'POST',
                dataType: 'html',
                success: function (result)
                         {
                            $('#chatView').html(result);
                            $('#textArea').val("");

                            if (document.getElementById("chatView").childElementCount > messageCount) {
                                var element = document.getElementById("chatView");
                                element.scrollTop = element.scrollHeight;
                            }

                            messageCount = document.getElementById("chatView").childElementCount;
                },
                error: function (result) {
                    alert("error");
                }
            }
            );
        }
    );
</script>