@model KEKChat.Models.MessageText
@{
    ViewBag.Title = "KEKChat";
    Layout = "~/Views/Shared/_ChatLayout.cshtml";
}

@section ChatSection{
<div class="chat" id="chatView">
    @{
        foreach (KEKChat.Models.Message message in Model.MessageCollection)
        {
            <div class='message'>
                @Html.Raw(message.Username + " " + message.Date)
            </div>
            <div class='message'>
                @Html.Raw(message.Text)
            </div>
        }
    }
</div>

    <script>
        var element = document.getElementById("chatView");
        element.scrollTop = element.scrollHeight;   
    </script>


    <div class="chatbox" id="chatBox">
        @using (Html.BeginForm("SendMessage", "Home", FormMethod.Post, new { @style = "height:100%;", @id = "MainForm" }))
        {
            @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "chat-input", @autofocus = "", id = "textArea" } })
            <button type="submit" runat="server" class="message-button" id="sendButton">Send</button>
        }
    </div>

    <script>
        document.getElementById('textArea').addEventListener('keydown', function (event) {
            if (event.which === 13 && event.shiftKey) {
                return false;              
            }
            else if (event.which === 13) {
                event.preventDefault();
                document.getElementById('sendButton').click();
                return true;
            }
        });
    </script>
}