@model KEKChat.Models.MemeModel
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section CustomCss{
    <link href="~/Content/Store.css" rel="stylesheet" type="text/css" />

}

<div class="store-page-catalog align-content-center pt-3">
    @foreach (var meme in Model.Memes)
    {
        <div class="card mb-lg-5 mb-3 p-lg-3 w-85 align-self-center bg-darker p-1">
            <img src="~/@meme.ImagePath.Replace('\\', '/')" class="card-img-top"/>
            @using (Html.BeginForm("BuyMeme", "Home", FormMethod.Post, new { @class = "card-footer" }))
            {
                Model.MemeID = meme.ID;
                <div class="row">
                    <div class="col-4">
                        Stock:<br />
                        @meme.VendorAmount
                    </div>
                    <div class="col-4">
                        Price:<br />
                        @meme.Price KEKs
                    </div>
                    <div class="col-4 d-flex flex-wrap align-content-center p-0 pt-2 h-100 w-100">
                        <div class="p-2">
                            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "w-100 h-100" } })
                        </div>
                        <div class="pl-2">
                            <button type="submit" class="btn btn-success h-100"><div class="form-text">BUY</div></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

