.chat {
    width: 100%;
    height: calc(100vh - 160px);
    overflow-y: scroll;
}

.chatbox {
    width: 100%;
    height: 75px;
    padding: 7px;
    background-color: #C5C5AC;
    align-content: center;
}

.chatbox-field {
    height: 100px;
}

textarea#textArea.chat-input.text-box.multi-line {
    width: calc(100% - 60px);
    height: 100%;
    max-width: none;
    vertical-align: middle;
    font-size: 1.6em;
    resize: none;
}

.message-button {
    width: 55px;
    height: 100%;
    vertical-align: middle;
}

.message {
    margin-left: 1vw
}

@media only screen and (max-width: 374px) {
    .chat {
        height: calc(100vh - 150px);
    }
}