body {
    background-color: #F6ECFF !important;
    margin: 0;
    padding: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    font-family: 'Comic Sans MS' !important;
    overflow-y: hidden; /* Така си крия провала. */
}

.username {
    color: #D7E1A5;
}

.signout {
    color: #FF8A20;
}

a.signout:hover {
    text-decoration: none !important;
    color: #FF7B20 !important;
}

.keks {
    color: #FFC90E;
}

.side-tab {
    color: #000000;
    border: 1px solid;
    border-color: #03004e;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    overflow-y: scroll;
}

.bg-amazonite {
    background-color: #0BC3AD !important;
}

.text-amazonite {
    color: #00A38D !important;
}


.bg-bleu {
    background-color: #2584E8 !important;
}

.bg-pastelyellow {
    background-color: #FFFD83 !important;
}

.text-pastelyellow {
    color: #FFFD83 !important;
}

.bg-soap {
    background-color: #F6ECFF !important;
}

.text-soap {
    color: #D6CCF3 !important;
}

.text-oceanblue {
    color: #4D28C9 !important;
}

.bg-card-soap {
    background-color: #93b9ff;
}

.bg-oceanblue {
    background-color: #4D28C9 !important;
}

.side-tab-left {
    overflow-y: inherit;
}

.side-tab-right {
    background-color: #EFED73;
    overflow-y: inherit;
}

.main-parent {
    width: 100%;
}

.main-left {
    height: inherit;
}

.main-right {
    height: inherit;
}

.bg-darker {
    background-color: #00ff82;
}

.w-85 {
    max-width: 85% !important;
}

.memes {
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.people {
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 442px) {
    body {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 375px) {
    body {
        font-size: 0.85em;
    }
}

@media only screen and (max-width: 372px) {
    body {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 338px) {
    body {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 320px) {
    body {
        font-size: 0.6em;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
