body {
    margin: 0;
    padding: 0;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    font-family: 'Comic Sans MS' !important;
}

.username {
    color: #D7E1A5;
}

.signout {
    color: #FF8A20;
}

.keks {
    color: #FFC90E;
}

.main-parent {
    width: 100%;
}

.main-left {
    height: inherit;
}

.main-right {
    height: inherit;
    background-color: #FFC90E;
}

.bg-darker {
    background-color: #00ff82;
}

.w-85 {
    max-width: 85% !important;
}

@media only screen and (max-width: 375px) {
    body {
        font-size: 0.85em;
    }
}

@media only screen and (max-width: 320px) {
    body {
        font-size: 0.6em;
    }
}
