.card {
    margin: 0 auto;
    float: none;
}

.card-img-top {
    height: auto;
    max-height: 80vh;
    object-fit: scale-down;
}

.store-page-catalog {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}